In [154]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [127]:
data = pd.read_csv(r'C:\Users\razi\Downloads\student-data.csv')

In [128]:
data.shape

(395, 31)

In [129]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes

In [130]:
data.isna().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
passed        0
dtype: int64

So, no null values present in the dataset

In [131]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  passed      395 non-null    object
dtypes: int64(13), object(18)
memory usage: 95.8+ KB

In [132]:
x = data.drop(['address','famsize','Pstatus','Mjob', 'Fjob', 'reason','guardian','schoolsup', 'famsup', 'paid','nursery',
       'higher', 'internet', 'romantic','passed'],axis=1)
y = pd.DataFrame(data['passed'])

In [133]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'passed'],
      dtype='object')

In [134]:
x['school'].value_counts()

GP    349
MS     46
Name: school, dtype: int64

In [135]:
data['activities'].value_counts()

yes    201
no     194
Name: activities, dtype: int64

In [136]:
x = pd.get_dummies(x, columns=['school','activities','sex'])

In [137]:
y = pd.get_dummies(y, columns=['passed'])

In [138]:
x.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,school_GP,school_MS,activities_no,activities_yes,sex_F,sex_M
0,18,4,4,2,2,0,4,3,4,1,1,3,6,1,0,1,0,1,0
1,17,1,1,1,2,0,5,3,3,1,1,3,4,1,0,1,0,1,0
2,15,1,1,1,2,3,4,3,2,2,3,3,10,1,0,1,0,1,0
3,15,4,2,1,3,0,3,2,2,1,1,5,2,1,0,0,1,1,0
4,16,3,3,1,2,0,4,3,2,1,2,5,4,1,0,1,0,1,0

In [139]:
x.shape

(395, 19)

In [140]:
x.columns

Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'school_GP',
       'school_MS', 'activities_no', 'activities_yes', 'sex_F', 'sex_M'],
      dtype='object')

In [141]:
x['pedu'] = x['Medu'] + x['Fedu']
x['freetimes'] = x['freetime'] + x['goout']

In [142]:
x = x.drop(['freetime', 'goout','Medu', 'Fedu'],axis=1)

In [143]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=2)

In [144]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(x_train,y_train)

y_pred =rf.predict(x_test)

In [158]:
from sklearn.metrics import f1_score,confusion_matrix
print("f1_score : ",f1_score(y_test, y_pred,average='weighted'))
print("confusion_matrix : ",confusion_matrix(y_test.values.argmax(axis=1),y_pred.argmax(axis=1)))

f1_score :  0.6523152086195991
confusion_matrix :  [[13 26]
 [12 68]]

In [161]:
pd.Series(rf.feature_importances_,index=x.columns).sort_values(ascending=False)*100

absences          12.382265
failures          10.661469
freetimes          9.971458
pedu               9.740852
age                9.177033
health             8.110650
Walc               6.845856
studytime          6.377310
famrel             6.194376
traveltime         4.959704
Dalc               3.234211
sex_M              2.671216
activities_yes     2.566392
sex_F              2.348081
activities_no      2.291264
school_MS          1.429205
school_GP          1.038660
dtype: float64